<article class="post-content">

	<div id="blog-gallery" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#blog-gallery" data-slide-to="0" class="active"></li>
			<li data-target="#blog-gallery" data-slide-to="1"></li>
			<li data-target="#blog-gallery" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="images/post-image/01.jpg" alt="carosuel image">
			</div>
			<div class="item">
				<img src="images/post-image/02.jpg" alt="carosuel image">
			</div>
			<div class="item">
				<img src="images/post-image/03.jpg" alt="carosuel image">
			</div>

		</div>
	</div>
	
	<h2 class="post-title">
		<a href="blog-single.html">Proin gravida nibh vel velit auctor</a>
	</h2>

	<p class="post-meta">
		Posted by <a class="post-meta-element" href="#">Kim Nilson</a> 
		In <a href="#" class="categorys">Child</a>
		With <a class="comments" href="#comments">230 Comments</a>
	</p>

	<p>
		Richard McClintock a Latin professor at Hampden-Sydney College in the Virginia, looked up one more obscure Latin words, consectetur, from  Lorem Ipsum passage, and going to a through the cites of the word in a classical literature, discovered the source. 
	</p>

	<a class="btn read-more" href="#">Read More</a>
	
</article> <!-- /.post-content -->