{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% page_attribute "page_title" %}{% endblock %}</title>

        <meta name="description" content="Site da ONG amar é simples">
        <meta name="keywords" content="ong amar é simples projeto social">
        <meta name="author" content="https://plus.google.com/+JEFernandesJunior">

        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->


        <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/>
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'favicon/apple-touch-icon-57x57.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'favicon/apple-touch-icon-114x114.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'favicon/apple-touch-icon-72x72.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'favicon/apple-touch-icon-144x144.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'favicon/apple-touch-icon-60x60.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'favicon/apple-touch-icon-120x120.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'favicon/apple-touch-icon-76x76.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'favicon/apple-touch-icon-152x152.png' %}" />
        <link rel="icon" type="image/png" href="{% static 'favicon/favicon-196x196.png' %}" sizes="196x196" />
        <link rel="icon" type="image/png" href="{% static 'favicon/favicon-96x96.png' %}" sizes="96x96" />
        <link rel="icon" type="image/png" href="{% static 'favicon/favicon-32x32.png' %}" sizes="32x32" />
        <link rel="icon" type="image/png" href="{% static 'favicon/favicon-16x16.png' %}" sizes="16x16" />
        <link rel="icon" type="image/png" href="{% static 'favicon/favicon-128.png' %}" sizes="128x128" />
        <meta name="application-name" content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="{% static 'favicon/mstile-144x144.png' %}" />
        <meta name="msapplication-square70x70logo" content="{% static 'favicon/mstile-70x70.png' %}" />
        <meta name="msapplication-square150x150logo" content="{% static 'favicon/mstile-150x150.png' %}" />
        <meta name="msapplication-wide310x150logo" content="{% static 'favicon/mstile-310x150.png' %}" />
        <meta name="msapplication-square310x310logo" content="{% static 'favicon/mstile-310x310.png' %}" />


        {% render_block "css" %}
        <!-- Boostrap -->
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <!-- Fontawesome -->
        <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
        <!-- icon fonts linecons -->
        <link rel="stylesheet" href="{% static "css/linecons-font-style.css" %}">
        <!-- Custom Styles -->
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <!-- Responsive Styles -->
        <link rel="stylesheet" href="{% static "css/responsive.css" %}">
        <!-- Important owl stylesheet -->
        <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
        <!-- Important prettyPhoto stylesheet -->
        <link rel="stylesheet" href="{% static "css/prettyPhoto.css" %}">
        <!-- Important blueimp stylesheet -->
        <link rel="stylesheet" href="{% static "css/blueimp-gallery.min.css" %}">
        <!-- favicon -->
        <link rel="shortcut icon" href="{% static "images/favicon.png" %}">
    </head>

	<body>
		{% cms_toolbar %}

        {% block menu %}{% endblock %}


		{% block content %}{% endblock %}



		<!-- Scroll to Top -->
		<div id="scroll-to-top">
			<div class="hex scroll-top">
				<span><i class="fa fa-chevron-up"></i></span>
			</div>
		</div><!-- /#scroll-to-top -->
		<!-- Scroll to Top End-->	




		<!-- Footer Section -->
		<footer id="footer-section">
			<div class="footer-section">
				<div class="container">
					<div class="copyrights pull-left">
						© Amar é Simples. Desenvolvido por <a href="https://linkedin.com/in/jefernandesjunior" target="_blank">J. E. Fernandes Júnior</a>
					</div><!-- /.copyrights -->

					
				</div><!-- /.container -->
			</div><!-- /.footer-section -->
		</footer><!-- /#footer-section -->
		<!-- Footer Section End -->


        <script src="{% static "js/jquery-2.1.0.min.js" %}"></script>
        <script src="{% static "js/jquery.visible.min.js" %}"></script>
		<script src="{% static "js/plugins.js" %}"></script>
		<script src="{% static "js/jquery.parallax.js" %}"></script>
		<script src="{% static "js/functions.js" %}"></script>
        <script src="{% static 'blueimp-gallery.min.js' %}"></script>
        <script src="{% static 'gallery-init.js' %}"></script>
        {% render_block "js" %}
		<script type="text/javascript">

			/*---------------------- Current Menu Item -------------------------*/
			jQuery(document).ready(function($) {
				"use strict";
				$('#main-menu #headernavigation').onePageNav({
					currentClass: 'active',
					changeHash: false,
					filter: '',
					easing: 'swing'
				});
			});
		</script>


	</body>
</html>
