{% extends 'base.html' %}
{% load cms_tags staticfiles %}
{% block menu %}
<!-- Main Menu -->
<div class="main-menu-container navbar-fixed-top">
    <div id="main-menu" class="navbar navbar-default blog-page" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <h1>
                    <a class="navbar-brand" href="/">
                        <img class="logo" src="{%  static "images/logo.png" %}" alt="Logo" rel="home">
                    </a><!-- /.navbar-brand -->
                </h1>
            </div> <!-- /.navbar-header -->


        </div> <!-- /.container -->
    </div><!-- /#main-menu -->
</div><!-- /.main-menu-container -->
<!-- Main Menu End -->
{% endblock %}