{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% page_attribute "page_title" %}{% endblock %}</title>

        <meta name="description" content="Site da ONG amar é simples">
        <meta name="keywords" content="ong amar é simples projeto social">
        <meta name="author" content="https://plus.google.com/+JEFernandesJunior">

        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

        {% render_block "css" %}
        <!-- Boostrap -->
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <!-- Fontawesome -->
        <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
        <!-- icon fonts linecons -->
        <link rel="stylesheet" href="{% static "css/linecons-font-style.css" %}">
        <!-- Custom Styles -->
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <!-- Responsive Styles -->
        <link rel="stylesheet" href="{% static "css/responsive.css" %}">
        <!-- Important owl stylesheet -->
        <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
        <!-- Important prettyPhoto stylesheet -->
        <link rel="stylesheet" href="{% static "css/prettyPhoto.css" %}">
        <!-- favicon -->
        <link rel="shortcut icon" href="{% static "images/favicon.png" %}">
    </head>

	<body>
		{% cms_toolbar %}

        {% block menu %}{% endblock %}


		{% block content %}{% endblock %}



		<!-- Scroll to Top -->
		<div id="scroll-to-top">
			<div class="hex scroll-top">
				<span><i class="fa fa-chevron-up"></i></span>
			</div>
		</div><!-- /#scroll-to-top -->
		<!-- Scroll to Top End-->	




		<!-- Footer Section -->
		<footer id="footer-section" class="gray-bg">
			<div class="footer-section">
				<div class="container">
					<div class="footer-social-btn pull-right">
						<a href="http://demos.codexcoder.com/heal/heal-v2/#" class="twitter-btn"><i class="fa fa-twitter"></i></a>
						<a href="http://demos.codexcoder.com/heal/heal-v2/#" class="facebook-btn"><i class="fa fa-facebook"></i></a>
						<a href="http://demos.codexcoder.com/heal/heal-v2/#" class="github-btn"><i class="fa fa-github-alt"></i></a>
						<a href="http://demos.codexcoder.com/heal/heal-v2/#" class="vimeo-btn"><i class="fa fa-vimeo-square"></i></a>
						<a href="http://demos.codexcoder.com/heal/heal-v2/#" class="pinterest-btn"><i class="fa fa-pinterest"></i></a>
						<a href="http://demos.codexcoder.com/heal/heal-v2/#" class="google-plus-btn"><i class="fa fa-google-plus"></i></a>
						<a href="http://demos.codexcoder.com/heal/heal-v2/#" class="youtube-btn"><i class="fa fa-youtube"></i></a>
						<a href="http://demos.codexcoder.com/heal/heal-v2/#" class="dribbble-btn"><i class="fa fa-dribbble"></i></a>
						<a href="http://demos.codexcoder.com/heal/heal-v2/#" class="linkedin-btn"><i class="fa fa-linkedin"></i></a>
					</div><!-- /.footer-social-btn -->
					<div class="copyrights pull-left">
						© <a href="http://demos.codexcoder.com/heal/heal-v2/#">Heal</a> 2014, Developed by <a href="http://www.codexcoder.com/">CodexCoder</a>
					</div><!-- /.copyrights -->

					
				</div><!-- /.container -->
			</div><!-- /.footer-section -->
		</footer><!-- /#footer-section -->
		<!-- Footer Section End -->


        <script src="{% static "js/jquery-2.1.0.min.js" %}"></script>
        <script src="{% static "js/email-validation.js" %}"></script>
        <script src="{% static "js/jquery.visible.min.js" %}"></script>
		<script src="{% static "js/plugins.js" %}"></script>
		<script src="{% static "js/jquery.parallax.js" %}"></script>
		<script src="{% static "js/functions.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>
		<script src="{% static "js/gmap3.js" %}"></script>
        {% render_block "js" %}
		<script type="text/javascript">

			/*---------------------- Current Menu Item -------------------------*/
			jQuery(document).ready(function($) {
				"use strict";

				$('#main-menu #headernavigation').onePageNav({
					currentClass: 'active',
					changeHash: false,
					filter: '',
					easing: 'swing'
				});


				/*----------- Google Map - with support of gmaps.js ----------------*/
				function isMobile() { 
					return ('ontouchstart' in document.documentElement);
				}

				function init_gmap() {
					if ( typeof google == 'undefined' ) return;
					var options = {
						center: [23.709921, 90.407143],
						zoom: 15,
						mapTypeControl: true,
						mapTypeControlOptions: {
							style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
						},
						navigationControl: true,
						scrollwheel: false,
						streetViewControl: true
					}

					if (isMobile()) {
						options.draggable = false;
					}

					$('#googleMaps').gmap3({
						map: {
							options: options
						},
						marker: {
							latLng: [23.709921, 90.407143],
							options: { icon: 'assets/images/mapicon.png' }
						}
					});
				}

				init_gmap();

			});
		</script>


	</body>
</html>
