{% extends "base_home.html" %}
{% load cms_tags staticfiles %}
{% block content %}
		<!-- Top Slider -->
		<section id="top-section">
			<div class="top-section parallax-style">
				<div class="parallax-overlay">
					<div class="slider-txt-container">
						<div id="top-carousel" class="carousel slide" data-ride="carousel">

							<ol class="carousel-indicators">
								<li data-target="#top-carousel" data-slide-to="0" class="active"></li>
								<li data-target="#top-carousel" data-slide-to="1"></li>
								<li data-target="#top-carousel" data-slide-to="2"></li>
							</ol><!-- /.carousel-indicators -->
							<div class="carousel-inner">

								<div class="item active">
									<h2 class="thin-txt">
										Buscamos incentivar jovens<br>
										<span class="bold-txt">
											a fazer o bem 
										</span><br>
										pela doação de tempo e habilidades
									</h2><!-- /.thin-text -->

									<p class="link">
										<a href="#" class="btn custom-btn ">Saiba mais</a>
									</p>
								</div><!-- /.item -->

								<div class="item">
									<h2 class="thin-txt">
										Queremos mudar a postura do<br>
										<span class="bold-txt">
											voluntariado jovem no Brasil
										</span><br>
										seja voluntário!
									</h2>

									<p class="link">
										<a href="#" class="btn custom-btn ">Saiba mais</a>
									</p>
								</div><!-- /.item -->

								<div class="item">
									<h2 class="thin-txt">
										Oito entre dez jovens no país<br>
										<span class="bold-txt">
											nunca se envolveram com voluntariado
										</span><br>
										Vamos mudar este cenário!
									</h2><!-- /.thin-text -->

									<p class="link">
										<a href="#" class="btn custom-btn ">Seja voluntário</a>
									</p>
								</div><!-- /.item -->
							</div><!-- /.carousel-inner -->
							<a class="slide-nav left" href="#top-carousel" data-slide="prev"><span></span></a>
							<a class="slide-nav right" href="#top-carousel" data-slide="next"><span></span></a>
						</div><!-- /#top-carousel -->
					</div><!-- /.slider-txt-container -->
				</div><!-- /.parallax-overlay -->
			</div><!-- /.top-section -->
		</section><!-- /#top-section -->
		<!-- Top Slider End-->



		<!-- About Section -->
		<section id="sobre">
			<div class="about-section"> 
				<div class="white-bg  section-padding">
					<div class="top-angle">
					</div><!-- /.top-angle -->
					<div class="container">
						{% placeholder "nossa_historia_titulo" %}

						<div class="section-content">
							<div class="row">
								<div class="content-box col-md-8 from-bottom delay-200">
									<div class="hex content-icon-hex pull-left">
										<div class="content-icon">
											<span class="li_bulb"></span>
										</div>
									</div><!-- /.content-icon-hex -->
									{% placeholder "nossa_historia" %}
                </div><!-- /.content-box -->

								<div class="col-md-4 media-content media-right from-bottom delay-600">
									<div class="meida-container">
										{% placeholder "nossa_historia_extra" %}
									</div>
								</div><!-- /.media-content -->
							</div><!-- row -->
						</div><!-- /.section-content -->
					</div><!-- /.container -->
				</div><!-- /.white-bg -->

				<div class="gray-bg  section-padding">
					<div class="top-angle"></div>
					<div class="container">
						<div class="row">
							<div class="section-content">
								<div class="media-content media-left col-md-4 from-bottom delay-200">
									{% placeholder "nossa_missao_extra" %}
								</div><!-- /.media-content -->

								<div class="content-box col-md-8 from-bottom delay-600">
									<div class="hex content-icon-hex pull-left">
										<div class="content-icon">
											<span class="li_eye"></span>
										</div>
									</div>
									{% placeholder "nossa_missao" %}
								</div><!-- /.content-box -->
							</div><!-- /.section-content -->
						</div><!-- /.row -->
					</div><!-- /.container -->

					<div class="bottom-angle">				
					</div><!-- /.bottom-angle -->

				</div><!-- ./gray-bg -->
			</div><!-- /.about-section -->
		</section><!-- /#about-->
		<!-- About Section End -->



		<!-- Services Section -->
		<section id="projetos">
			<div class="services-section white-bg  section-padding">
				<div class="top-angle">
				</div><!-- /.top-angle -->
				<div class="container">
					{% placeholder projetos_titulo %}

					<div class="section-content">
						{% placeholder projetos %}
					</div><!-- /.section-content -->
				</div><!-- /.container-->
			</div><!-- /.services-section -->
		</section><!-- /#services -->
		<!--Services Section End-->




		<!-- Volunteer Section -->
		<section id="voluntario">
			<div class="volunteer-section">
				<div class="gray-bg section-padding">

					<div class="top-angle">
					</div><!-- /.top-angle -->

					<div class="container">
						<div class="row">
							<div class="section-content">
								<div class="media-content media-left col-md-4 from-bottom delay-200">
									<div class="meida-container">
										{% placeholder "seja_voluntario_extra" %}
									</div><!-- /.meida-container -->
								</div><!-- /.media-content -->
								<div class="content-box col-md-8 from-bottom delay-600">
									<div class="hex content-icon-hex pull-left">
										<div class="content-icon">
											<span aria-hidden="true" class="li_user"></span>
										</div>
									</div><!-- /.content-icon-hex -->
									{% placeholder "seja_voluntario" %}
								</div><!-- /.content-box -->
							</div><!-- /.section-content -->
						</div><!-- /.row -->
					</div><!-- /.container -->
					<div class="bottom-angle">
					</div><!-- /.bottom-angle -->
				</div><!-- ./gray-bg -->
			</div><!-- /.volunteer-section -->
		</section><!-- /#volunteer -->
		<!-- Volunteer Section End -->




		<!-- Gallery Section -->
		<section id="galeria">
			<div class="gallery-section white-bg  section-padding">
				<div class="top-angle">
				</div><!-- /.top-angle -->
				<div class="container">
					{% placeholder "galeria_titulo" %}

					{% placeholder "galeria" %}
				</div><!-- /.container -->
			</div><!-- /.gallery-section -->
		</section><!-- /#gallery -->
		<!-- Gallery Section End -->




		<!--Tweet Section-->
		<div id="tweet-section">
			<div class="tweet-section parallax-style">
				<div class="parallax-overlay section-padding">
					<div class="container">
						{% placeholder 'citacoes' %}
					</div><!-- /.container -->
				</div><!-- /.parallax-overlay -->
			</div><!-- /.tweet-section -->
		</div><!-- /.tweet-section -->
		<!--Tweet Section End-->



		<!--News Section-->
		<section id="imprensa">
			<div class="news-section white-bg  section-padding">
				<div class="top-angle">
				</div><!-- /.top-angle -->
				<div class="container">
					{% placeholder "imprensa_titulo" %}

					{% placeholder "imprensa" %}
				</div><!-- /.container -->
			</div><!-- /.news-section -->
		</section><!-- /#news -->
		<!--News Section End-->





		<!-- Clients Section -->
		<section id="clients">
			<div class="clients-section parallax-style">
				<div class="parallax-overlay section-padding">
					<div class="container">
						<div class="section-head">
							<h3 class="parallax-title">
								Our Partners
							</h3>
						</div><!-- /.section-head -->

						<div class="row">
							<div class="clients-logo">
								<div class="col-sm-3">
									<div class="client-logo">
										<a href="http://demos.codexcoder.com/heal/heal-v2/#">
											<img src="./Heal HTML Template_files/client-1.png" alt="Clients Logo">
										</a>
									</div><!-- /.client-logo -->
								</div><!-- /.col-sm-3 -->

								<div class="col-sm-3">
									<div class="client-logo">
										<a href="http://demos.codexcoder.com/heal/heal-v2/#">
											<img src="./Heal HTML Template_files/client-2.png" alt="Clients Logo">
										</a>
									</div><!-- /.client-logo -->
								</div><!-- /.col-sm-3 -->

								<div class="col-sm-3">
									<div class="client-logo">
										<a href="http://demos.codexcoder.com/heal/heal-v2/#">
											<img src="./Heal HTML Template_files/client-3.png" alt="Clients Logo">
										</a>
									</div><!-- /.client-logo -->
								</div><!-- /.col-sm-3 -->

								<div class="col-sm-3">
									<div class="client-logo">
										<a href="http://demos.codexcoder.com/heal/heal-v2/#">
											<img src="./Heal HTML Template_files/client-4.png" alt="Clients Logo">
										</a>
									</div><!-- /.client-logo -->
								</div><!-- /.col-sm-3 -->
							</div><!-- /.clients-logo -->
						</div><!-- /.low -->
					</div><!-- /.container -->
				</div><!-- /.parallax-overlay -->
			</div><!-- /.clients-section -->
		</section><!-- /#clients -->
		<!-- Clients Section End -->



		
		<!-- Contact Section -->
		<section id="contato">
			<div class="contact-section  section-padding">
				<div class="top-angle">
				</div><!-- /.top-angle -->
				<div class="container">
                  {% placeholder "contato_titulo" %}
				</div><!-- /.container -->

				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="contact-form-container">
                              {% placeholder "contato" %}
							</div><!-- /.contact-form-container -->
						</div><!-- /.col-md-6 -->

						<div class="col-md-6">
							<div class="contact-info">
								{% placeholder "contato_extra" %}
							</div><!-- /.contact-info -->
						</div><!-- /.col-md-6 -->
					</div><!-- /.row -->
				</div><!-- /.container -->
				<div class="bottom-angle">
				</div><!-- /.bottom-angle -->
			</div><!-- /.contact-section -->
		</section><!-- /#contact -->
		<!-- Contact Section End -->
{% endblock %}