
<div class="agenda wow animated slideInRight">
    {% for event in events %}

        {% if forloop.counter0|divisibleby:max %}
            <div class="tst-item clearfix">
        {% endif %}
        <div>
            <time datetime="{{ event.due_date }}">{{ event.due_date|date:"d/m" }}<span>{{ event.start_time|time:"H:i" }}</span></time>
            <h4>{{ event.name }}</h4>
            <p>{{ event.description }}<br><br>{{ event.obs }}<br><br>

            {% if not event.start_time == None %}<strong>Início: </strong>{{ event.start_time|time:"H:i" }}<br>{% endif %}
            {% if event.finish_time %}<strong>Término: </strong>{{ event.finish_time|time:"H:i" }}<br>{% endif %}
            {% if event.address %}<strong>Local: </strong>{{ event.address }}{% endif %}
            </p>

        </div>

        {% if forloop.last or forloop.counter|divisibleby:max %}</div>{% endif %}
    {% empty %}
        <p>Nenhum evento agendado.</p>
    {% endfor %}
</div> <!-- end .agenda -->