{% load static %}

<div class="clearfix"></div>
<div id="gallery-container" class="gallery-container">
  <div class="gallery-item element-from-bottom">
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
      <div class="slides"></div>
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <a class="play-pause"></a>
      <ol class="indicator"></ol>
    </div>

    {% for gallery in galleries %}
      <div class="blueimp-gallery-links">
        <figure class="item">
          {% for photo in gallery.photo_set.all %}
            <a href="{{ photo.image.url }}" title="{{ photo.description }}">
              <img src="{{ photo.image.url }}" alt="{{ photo.description }}">
            </a>
          {% endfor %}

          <div class="item-link">
            <div class="link-hex">
            <span>
              <i class="fa fa-plus"></i>
            </span>
            </div>
          </div><!-- /.item-link -->
          <figcaption class="item-description">
            <h4 class="item-title">{{ gallery.title }}</h4><!-- /.item-title -->
            <p class="gallery-item-description">
              {{ gallery.description }}
            </p><!-- /.gallery-item-description -->
          </figcaption>
        </figure>
      </div>
    {% endfor %}
  </div>
</div>