input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    border: 1px solid #D6E9C6 !important;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    border: 1px solid #B94A48 !important;
}

.parsley-errors-list {
    color: #B94A48;
    margin: 5px 5px 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}